.wrapper

  =render partial: "sidebar"

  .chat
    .header
      .header__left
        .sample sampleグループ
        .member member aaaaaa
      .header__right
        = link_to "Edit", edit_group_path(params[:group_id]), class: "button"
    .rightcontents
      =render @messages

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: "form__message", placeholder: "type a message"
        .form__mask
          = f.label :image, class: "form__mask__image" do
            = fa_icon "image", class: "icon"
            = f.file_field :image, class: "hidden"
        = f.submit "send", class: "form__submit"
